.calculadora
{
    width: 400px;
    margin: 0 auto;
    background-color:rgb(105, 188, 192);
    border-radius: 5px;
    box-shadow: 0 0 15px black;
    padding: 20px;
}

.display
{
    display: flex;
    width: 100%;
    height: 100px;
    background-color:#c9e9f1;
    color: black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: 0 5px;
    text-align: right;
    margin-bottom: 20px;
}

.calculadora button
{
    background-color:#d3f7ff;
    color:rgb(86, 176, 180);
    padding: 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid black;
    outline: none;
    font-weight: bold;
}

.calculadora button:hover
{
    
    background-color: #9fe8eb;
    color:black;
}

.primeirosBotoes, .ultimosBotoes
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}

.botoesCentrais
{
    display:grid;
    grid-gap: 10px;
    margin: 10px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}